/* Impostazioni generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #ffffff;
    --color-bg-color: #d9d9d9;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-fb: #2871f0;
    --color-icon-twitter: #009EFF;
    --color-icon-insta: #DE49A1;
}

/* Font */
header {
    font-family: "Nerko One", cursive;
    color: var(--color-contrast);
    text-shadow: 1px 1px #282529;
}

body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

/* Main */
main {
    background-color: var(--color-bg-color);
    padding: 15px;
    line-height: 1.5;
}

/* ancora */
a {
    text-decoration: none;
    color: inherit;
}

/* Lista */
ul {
    list-style: none;
}

/* TESTO MAIUSCOLO */
.txt-uppercase {
    text-transform: uppercase;
}

/* Impostazioni flex */
.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.j-spaceb {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.gap1 {
    gap: 15px;
}

.d-none {
    display: none;
}

/* Colori */
.bkg-primary {
    background-color: var(--color-primary);
}

.text-purple {
    color: var(--color-dark-text);
}

.bkg-white {
    background-color: var(--color-white);
}

.text-white {
    color: var(--color-white);
}

/* Sezione Foto video YT */
#video img {
    width: 100%;
}

#video h4 {
    padding: 17px;
}

#video ul {
    padding-left: 17px;
    padding-bottom: 20px;
    padding-right: 17px;
}

.bold {
    font-weight: bold;
}

#video p {
    font-size: 0.7em;
}

/* Sezione Social */
#social a {
    padding: 10px;
    border-radius: 40%;
    background-color: var(--color-white);
}

#social {
    padding: 15px 0;
}

/* Icone */
.f-icon {
    color: var(--color-icon-fb);
}

.t-icon {
    color: var(--color-icon-twitter);
}

.i-icon {
    color: var(--color-icon-insta);
}

.red-icon {
    color: var(--color-icon-red);
}

/* Pubblicità */
#pubblicità img {
    width: 100%;
    margin: 12px 0;
}

/* Presentation */
hr {
    width: 15%;
    border: 1px solid var(--color-contrast);
}

#presentation .image img {
    width: 50%;
    margin-top: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 10px;
}

footer p {
    padding: 10px 0;
}

footer a {
    text-decoration: underline;
}

/* 
  MEDIA QUERY
*/

/* Media Query 576px */
@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    main {
        padding: 25px;
    }

    .j-start {
        justify-content: flex-start;
    }

    header h1 {
        padding: 0 15px;
    }

    #video h2 span {
        display: inline-block;
    }

    #video ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 15px;
    }
    #video ul li {
        width: calc((100% - 30px) / 3);
    }

    #social a {
        padding: 10px 55px;
        border-radius: 20px;
        background-color: var(--color-white);
    }

    #pubblicità {
        display: inline-block;
        width: 100%;
    }

    .presentation .image img {
        float: left;
        margin: 0 10px 0 0;
    }
    .presentation .image {
        display: block;
    }
    
    .presentation .clearfix {
        margin-top: 10px;
    }

    .presentation .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

}

@media screen and (min-width: 992px) {
    #video h2 {
        font-size: 2em;
        font-weight:800;
        padding-bottom: 10px;
    }
    .container {
        max-width: 900px;
        margin: 0 auto;
    }
    #video .flex {
        display: flex;
    }
    #video .v-yt {
        width: 60%
    }
    #video .list {
        width: 40%;
    }
    #video ul {
        display: inline-block;
    }
    #video ul li {
        width: 100%;
        padding-bottom: 5px;
    }
    .flex1 {
        display: flex;
    }
    .a-center {
        align-items: center;
    }
    #social span {
        padding-left: 5px;
    }
    #social a {
        padding: 10px 30px;
        border-radius: 20px;
        background-color: var(--color-white);
    }
    #pubblicità {
        display: flex;
        justify-content: center;
    }
    #presentation .image img {
        width: 30%;
        margin-top: 5px;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
    }
}